<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appSettings>
        <!-- Each WorkingDir/ will contain the last 5 full setup context with the CKSetup.log file in it. -->
        <add key="WorkingDirectory" value="{TestProjectName}/WorkingDir" />
        <!-- By default, the bin will be automatically based on the project name above (without the ".Tests" suffix). -->
        <add key="DefaultBinPaths" value="{CKSetupAutoTargetProjectBinFolder}" />
        <!--
          In addition to the WorkingDir/CKSetup.log, a Logs/ folder will be created in each project folders.
          Note that these logs will contain more data than the CKSetup.log files since the CKSetup.log only contains
          the logs of the CKSetup run itself.
        -->
        <add key="Monitor/LogToTextFile" value="true" />
        <!-- By default, we'll use Trace level. Use Debug for full logs. -->
        <add key="Monitor/LogLevel" value="Trace" />
    </appSettings>
</configuration>
